[submodule "wikimediaserver"]
	path = wikimediaserver
	url = https://github.com/therickys93/wikimediaserver.git
[submodule "wikicontroller"]
	path = wikicontroller
	url = https://github.com/therickys93/wikicontroller.git
[submodule "wikiredis"]
	path = wikiredis
	url = https://github.com/therickys93/wikiredis.git
[submodule "wikiproxy"]
	path = wikiproxy
	url = https://github.com/therickys93/wikiproxy.git
[submodule "wikirediscommander"]
	path = wikirediscommander
	url = https://github.com/therickys93/wikirediscommander.git
[submodule "wikiandroid"]
	path = wikiandroid
	url = https://github.com/therickys93/wikiandroid.git
[submodule "wikiapi"]
	path = wikiapi
	url = https://github.com/therickys93/wikiapi.git
[submodule "wikiarduino"]
	path = wikiarduino
	url = https://github.com/therickys93/wikiarduino.git
[submodule "wikiserver"]
	path = wikiserver
	url = https://github.com/therickys93/wikiserver.git
[submodule "wikidata"]
	path = wikidata
	url = https://github.com/therickys93/wikidata.git
[submodule "wikidatabase"]
	path = wikidatabase
	url = https://github.com/therickys93/wikidatabase.git
[submodule "wikibot"]
	path = wikibot
	url = https://github.com/therickys93/wikibot.git
[submodule "wikimongodb"]
	path = wikimongodb
	url = https://github.com/therickys93/wikimongodb.git
[submodule "wikidocumentation"]
	path = wikidocumentation
	url = https://github.com/therickys93/wikidocumentation
